.popup__message_type_error {
  padding-top: 5px;
  font-family: Inter;
  font-weight: 400;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #ff0000;
  visibility: visible;
  display: none;
}
